/* Card Plato desde CardFood.jsx */


#card-plato{
    position: relative;
    border-radius: 0.5rem;
    border: 0.5px solid ;    
    margin-bottom: 5px;
    
}
#card-media-platos{
    width: 100%;
}
/*  */
/*  */
.card-conteiner{
    width: 100%;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    background-color: grey;
}
.card-media{
    margin-top: 0.5rem;
}
.card-media img{
    
  width: size;
  height: size; 
  overflow: hidden;
}
.card-title{
    margin: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 0px;
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
    color: black;
}
p{
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 1.2rem;

}

.card-title{
    margin-bottom: 0.5rem;
}
.card-footer{
    padding: 0.5rem;
    transition: 0.2s;
}

