/* Card Plato desde CardFood.jsx */


#card-plato{
    position: relative;
    border-radius: 0.5rem;
    border: 0.5px solid ;    
    margin-bottom: 5px;
    height: 100%;
    
}
#card-media-platos{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;

    
    
}
#conteiner-card{
    height: 100%;
}
/*  */
/*  */
.card-conteiner{
    width: 100%;
    overflow: visible;
    margin: 10px;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.1s;
    animation: ease-in-out;
    background-color: red;
}
.card-media{
    margin-top: 0.5rem;
}
.card-media img{
    
  width: size;
  height: size; 
  overflow: hidden;
}
.card-title{
    margin: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 0px;
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
    color: black;
}
p{
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 1.2rem;

}

.card-title{
    margin-bottom: 0.5rem;
}
.card-footer{
    padding: 0.5rem;
    transition: 0.2s;
}
/* TYPOGRAPHY TITLE CARDFOOD INDEX */

#title-typo{
    color: #f4f5f0;
    text-transform: uppercase;
    background-color: cadetblue;
    background-size: auto;
    font-style: oblique ;
    padding-bottom: 1%;
}

.card-banner{
    height: 250px;
    flex-basis: '100%';
    margin: 0px;
}

#grid-banner{
    
    margin: 0px;
}
#grid-img{
    
    max-height: 250px;
}
#grid-info{
    max-height: 250px;
    padding: 0;
    background-color: #AD8865;
}