@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    font-family: 'Cairo', sans-serif;
}

#inicio:hover,
#carta:hover,
#reserva:hover,
#comoLlegar:hover,
#login:hover,
#addPlato:hover{
    border-color: #3E7B27;
    border-style: solid;
    border-inline-start-width: 10px;
    
}

#inicio,
#carta,
#reserva,
#comoLlegar,
#login,
#addPlato{
    color: #F1F4F2;
}

/* 
PALETA DE COLORES
#123524
#3E7B27
#85A947
#EFE3C2

*/


#appbar-nav{
    background-color: #123524 ;
    width: 100%;
}



.logo-brand .uk-container{
    position: relative;
    overflow: visible;
    display: block;
}

.logo-brand{
    width: 150px;
}



.home,
.carta,
.reserva,
.comoLlegar{
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
}

.home:hover,
.carta:hover,
.reserva:hover,
.comoLlegar:hover{
    color: #FE4A49;
}





/* RESPONSIVE DESING */
@media screen and (min-width: 850px){
    .nav-brand{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #8CBEB2;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .home,
    .carta,
    .reserva{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #8CBEB2;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;

    }
    
}
