@import "primereact/resources/themes/lara-light-indigo/theme.css";  
@import "primereact/resources/primereact.min.css";     
@import '@fontsource-variable/cinzel';




body{
    
    color: white;
    
}


.grid-reserva{
    background-image: url('../src/assets/img2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 55px;
    border-radius: 5px;
    


}