@import "primereact/resources/themes/lara-light-indigo/theme.css";  
@import "primereact/resources/primereact.min.css";     
@import '@fontsource-variable/cinzel';


@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


p{
    font-family: 'Cairo', sans-serif;
    color: black;
    font-weight: bold;
}


.grid-reserva{
    background-image: url('../src/assets/Otras/form1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 55px;
    border-radius: 5px;
    


}


.card-cat{
    min-width: 160px;
}
.layout{
    display: grid;
}

.swiper-slide{
    width: 100%;
}

/* DATAVIEW FORMATO */



 

