@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root  {
    margin: 0;
    padding: 0;
    width: "100%";   
    max-height: 2400;  
    box-sizing: border-box;
    background-color: #EFE3C2;
    position: static;
}





.color1-nav {color: #122932;}
.color2-hover {color: #FE4A49;}
.color3 {color: #904E55;}
.color4 {color: #0c7723;}
.color5 {color: #599a00;}
.color10 {color: #360000;}
/* colores bandera de italia */
.color6 {color: #008c45;}
.color7 {color: #cd212a;}
.color8 {color: #f4f5f0;}