@tailwind base;
@tailwind components;
@tailwind utilities;



#root{
    margin: 0;
    display: block;
    background-color:  #122932;
}

.color1-nav {color: #122932;}
.color2-hover {color: #FE4A49;}
.color3 {color: #904E55;}
.color4 {color: #0c7723;}
.color5 {color: #599a00;}
/* colores bandera de italia */
.color5 {color: #008c45;}
.color5 {color: #cd212a;}
.color5 {color: #f4f5f0;}