body,html{
    
    margin: 0;
}

.row{
    
}

.section{
    background-image:  url('../../assets/Otras/rest1.jpg') ;
    height: 720px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}